@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Geist;
}


header * {
  z-index: 999;
}
/* Force scrollbars to always show */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e0; /* Scrollbar color */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* Track color */
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: auto;
}

@media (min-width: 768px) {
  .embla {
    --slide-size: calc(0% - var(--slide-spacing));
  }
}

@media (min-width: 1024px) {
  .embla {
    --slide-size: calc(33.333% - var(--slide-spacing));
  }
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 30px;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}